<% layout('layouts/boilerplate') %>

    <body>
        <h1>All rentals</h1>
        <div>
            <% for (let rental of rentals) {%>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4 ">
                            <img class="img-fluid img-thumbnail" style="width: 100vh;height: 30vh;object-fit:cover;"
                                src="<%= rental.images[0].thumbnail %>" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <%= rental.title %>
                                </h3>
                                <p class="card-text">
                                    <%= rental.description %>
                                </p>
                                <h4 class="card-text text-muted">
                                    <%= rental.location %>
                                </h4>
                                <a class="btn btn-primary" href="/rentals/<%= rental._id %>">View <%= rental.title %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>