<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/stars.css">
    <script>
        const place_id = "<%= foundRental.location_place_id %>";
    </script>
    <div class="d-md-flex flex-md-row justify-content-md-evenly ">
        <div class="m-3 col-md-6">
            <div id="carouselIndicators" class="carousel slide" style="height: 
                <% if(foundRental.images.length> 0) { %> 
                    400px; 
                <% }else{ %>
                    0px 
                <% } %>">
                <% if(foundRental.images.length> 1) { %>
                    <div class="carousel-indicators">
                        <% foundRental.images.forEach((img,i)=> { %>
                            <button type="button" class="<%= i===0 ? 'active': ''%>"
                                data-bs-target="#carouselIndicators" data-bs-slide-to="<%= i %>"></button>
                            <% }) %>
                    </div>
                    <% } %>
                        <div class="carousel-inner">
                            <% foundRental.images.forEach((img,i)=> {%>
                                <div class="carousel-item  <%= i===0 ? 'active': ''%>">
                                    <img src="<%= img.url  %>" class="d-block w-100"
                                        data-bs-target="#carouselIndicators">
                                </div>
                                <% }) %>
                        </div>
                        <% if(foundRental.images.length> 1) { %>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            <% } %>
            </div>
            <div class="card w-100" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundRental.title %>
                    </h5>
                    <p class="card-text">
                        <%= foundRental.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= foundRental.price %>/hour
                    </li>
                    <li class="list-group-item">
                        <%= foundRental.location_name %>
                    </li>
                    <li class="list-group-item text-muted">
                        Created by: <%= foundRental.author.username %>
                    </li>
                </ul>
                <% if( currentUser && foundRental.author.equals(currentUser._id)) { %>
                    <div class="class-footer">
                        <a class="btn btn-warning m-3" href="/rentals/<%= foundRental._id %>/edit">Edit rental</a>

                        <form class="d-inline" action="/rentals/<%= foundRental._id %>?_method=delete" method="post">
                            <button class="btn btn-danger">Delete rental</button>
                        </form>
                    </div>
                    <% } %>
            </div>
        </div>

        <div class="m-3 col-md-6">
            <div id="map" class="mb-3" style="height: 400px; width: 1 rem;"></div>

            <% if(currentUser){ %>
                <div class="mb-3">
                    <h4 class="mb-3">Leave a review</h4>
                    <form action="/rentals/<%= foundRental._id %>/reviews" method="POST" class="validation" novalidate>
                        <div>
                            <label class="form-label" for="rating">Rating: </label>
                            <fieldset class="starability-checkmark">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Write a review:</label>
                            <textarea class="form-control" name="review[body]" id="body" cols="20" rows="3"
                                required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
                <% } %>
                    <% for(let reviews of foundRental.reviews) {%>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="card-title">
                                    <p class="starability-result" data-rating="<%= reviews.rating %>">
                                        Rated: <%= reviews.rating %> stars
                                    </p>
                                </div>
                                <p class="card-subtitle">
                                    By <%= reviews.author.username %>:
                                </p>
                                <div class="card-text">
                                    <h6>
                                        <%= reviews.body %>
                                    </h6>
                                </div>
                            </div>
                            <% if(currentUser && reviews.author.equals(currentUser._id)){ %>
                                <div class="card-footer">
                                    <form class="d-inline"
                                        action="/rentals/<%= foundRental._id %>/reviews/<%= reviews._id %>?_method=delete"
                                        method="post">
                                        <button class="btn btn-sm btn-danger">Delete review</button>
                                    </form>
                                </div>
                                <% } %>
                        </div>
                        <% } %>
        </div>
    </div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.MAPS_API_KEY%>&callback=initMap&libraries=places&v=weekly"
        defer></script>
    <script src="/js/showPageMap.js"></script>